{% extends 'base.html' %} {% block content %}

<div class="post">
    {% for post in data %}
    <div class="postBlock">
        <a class="postHeader" href="{% url 'blog:postDetail' pk=post.pk %}">{{post.title}}</a>
        <p class="postMessage">
            {{post.message|safe|truncatewords:58}}
        </p>
        <p class="postDate">Published On : {{post.published_date|date:"d M Y"}}
            <br> <span class="postFrom">Post From : <a href="{% url 'blog:userPosts' userName=post.user.username %}">{{post.user.username}}</a></span>
        </p>
        <a class="commentCount" href="{% url 'blog:postDetail' pk=post.pk %}">Comments : {{post.approve_comments|length}}</a>
        <br>
    </div>{% endfor %}
</div>

{% endblock %}