{% extends 'base.html' %} {% block content %}

<div class="landing--section">
    <div class="image--holder"></div>
    <h2 class="homePageTitle">Welcome to, <br> Anyone's blog</h2>
</div>

<div class="working-section">
    <h2 class="working-section--title">Blog's Features</h2>
    <div class="working-section--container">
        <div class="working-section--image-container">
            <img src="/media/undraw_browsing_online_sr8c.png" class="working-section--image" alt="">
        </div>
        <div class="working-section--description">
            <h4>User can browse different posts</h4>
        </div>
    </div>
    <div class="working-section--container">
        <div class="working-section--image-container">
            <img src="/media/undraw_my_documents_ym8x.png" class="working-section--image" alt="">
        </div>
        <div class="working-section--description">
            <h4>User can see posts related to specific user</h4>
        </div>
    </div>
    <div class="working-section--container">
        <div class="working-section--image-container">
            <img src="/media/undraw_save_to_bookmarks_y708.png" class="working-section--image" alt="">
        </div>
        <div class="working-section--description">
            <h4>Posts can also be saved as drafts</h4>
        </div>
    </div>
    <div class="working-section--container">
        <div class="working-section--image-container">
            <img src="/media/undraw_shared_goals_3d12.png" class="working-section--image" alt="">
        </div>
        <div class="working-section--description">
            <h4>User can comment and reply on different posts</h4>
        </div>
    </div>
</div>

{% endblock %}